.header {
  display: flex;
  justify-content: space-between; /* Places elements at the edges of the container */
  align-items: center; 
  padding: 20px 80px;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-left: 10px;
}

.navbar li:first-child {
  margin-left: 0;
}

.navbar li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: small;
}

footer {
  background-color: rgb(44, 43, 43);
  height: 70px;
  width: 100%;
  bottom: 0;
  position: fixed;
}